/* Custom CSS */
@import './assets/css/custom-styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #071311;
}

@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/Nexa-Bold.ttf') format('truetype');
  /* font-weight: 400; */
  /* font-style: normal; */
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #050f0d;
  /* Background of the track */
}

*::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color when hovered */
}

/* Remove Arrows/Spinners on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
